@model IEnumerable<LessonEvaluationsViewModel>
<!-- 評價 -->
    <div class="review-progresses p-30 radius-md border mb-40">
        <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-30">
            <h4 class="mb-0">全部評價狀態</h4>
            <div class="ratings size-md">
                <div class="rate bg-img" data-bg-image="/images/rate-star-md.png">
                    <div class="rating-icon bg-img" data-bg-image="/images/rate-star-md.png"></div>
                </div>
            <span class="ratings-total btn" id="showAllButton">全部(@ViewBag.totalCount)</span>
            </div>
        </div>
        <div class="review-progress mb-10 row align-items-center">
        <div class="col-3 col-sm-2 btn" data-rating="5">5 星</div>
            <div class="progress-line col-6 col-sm-8">
                <div class="progress">
                    <div class="progress-bar bg-primary" style="width: @ViewBag.percentStar5%" role="progressbar" aria-label="Basic example" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-3 col-sm-2 text-end">@ViewBag.percentStar5%</div>
        </div>
        <div class="review-progress mb-10 row align-items-center">
        <div class="col-3 col-sm-2 btn" data-rating="4">4 星</div>
            <div class="progress-line col-6 col-sm-8">
                <div class="progress">
                    <div class="progress-bar bg-primary" style="width: @ViewBag.percentStar4%" role="progressbar" aria-label="Basic example" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-3 col-sm-2 text-end">@ViewBag.percentStar4%</div>
        </div>
        <div class="review-progress mb-10 row align-items-center">
        <div class="col-3 col-sm-2 btn" data-rating="3">3 星</div>
            <div class="progress-line col-6 col-sm-8">
                <div class="progress">
                    <div class="progress-bar bg-primary" style="width: @ViewBag.percentStar3%" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-3 col-sm-2 text-end">@ViewBag.percentStar3%</div>
        </div>
        <div class="review-progress mb-10 row align-items-center">
        <div class="col-3 col-sm-2 btn" data-rating="2">2 星</div>
            <div class="progress-line col-6 col-sm-8">
                <div class="progress">
                    <div class="progress-bar bg-primary" style="width: @ViewBag.percentStar2%" role="progressbar" aria-label="Basic example" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-3 col-sm-2 text-end">@ViewBag.percentStar2%</div>
        </div>
        <div class="review-progress mb-10 row align-items-center">
        <div class="col-3 col-sm-2 btn" data-rating="1">1 星</div>
            <div class="progress-line col-6 col-sm-8">
                <div class="progress">
                    <div class="progress-bar bg-primary" style="width: @ViewBag.percentStar1%" role="progressbar" aria-label="Basic example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-3 col-sm-2 text-end">@ViewBag.percentStar1%</div>
        </div>
    </div>

    <div class="review-box pb-10">
        @foreach (var item in Model)
        {
            <div class="review-list mb-30 border radius-md">
                <div class="review-item p-30">
                    <div class="review-header flex-wrap mb-20">
                        <div class="author d-flex align-items-center justify-content-between gap-3">
                            <div class="author-img">
                                <div class="lazy-container ratio ratio-1-1 rounded-circle">
                                        @{
                                                string defaultImagePath = "/images/OwenAdd/memberNoPhoto.jpg"; 
                                             }

                                    <img FMemberId="@item.FMemberId" 
                                         src="@Url.Action("GetPicture", "LessonReview", new { FMemberId = item.FMemberId })" 
                                         title="@item.FName" 
                                         class="lazyload" 
                                         onerror="this.onerror=null; this.src='@defaultImagePath';" />
                                </div>
                        </div>
                        <div class="author-info">
                            <h6 class="mb-1">
                                @item.FShowName
                            </h6>
                            <div class="ratings mb-1">
                                    <div class="rate bg-img" data-bg-image="/images/rate-star.png" style="background-image: url('/images/rate-star.png');">
                                        @{
                                            int width = 0;
                                            switch (item.FScore)
                                            {
                                                case 1:
                                                    width = 20;
                                                    break;
                                                case 2:
                                                    width = 40;
                                                    break;
                                                case 3:
                                                    width = 60;
                                                    break;
                                                case 4:
                                                    width = 80;
                                                       break;
                                                case 5:
                                                    width = 100;
                                                    break;
                                                default:
                                                    width = 0;
                                                    break;
                                            }
                                        }
                                        <div class="rating-icon bg-img" data-bg-image="/images/rate-star.png" style="background-image: url('/images/rate-star.png'); width:@width%"></div>

                                </div>
                                <span class="ratings-total">(@item.FScore)</span>
                            </div>
                        </div>
                    </div>
                    <div class="more-info font-sm">
                        <div class="icon-start">
                            @if (item.FCommentUpdateDate.HasValue)
                            {
                                <span>已編輯</span>
                            }
                            <i class="fa-solid fa-clock" style="margin-left:10px;"></i>
                            @{
                                    var commentDate = item.FCommentUpdateDate.HasValue ? item.FCommentUpdateDate.Value : item.FCommentDate;

                                    DateTime currentDate = DateTime.Now;

                                    // 計算日期差距
                                    TimeSpan timeDifference = currentDate - commentDate;

                                    // 轉換成幾年幾月幾日的格式
                                    string displayDate = "";
                                    if (timeDifference.Days == 0)
                                    {
                                        displayDate = "今天";
                                    }
                                    else if (timeDifference.Days == 1)
                                    {
                                        displayDate = "昨天";
                                    }

                                    // 如果不是今天或昨天，則顯示完整日期
                                    if (string.IsNullOrEmpty(displayDate))
                                    {
                                        displayDate = commentDate.ToString("yyyy年MM月dd日");
                                    }
                                }
                            <span>@displayDate</span>
                        </div>
                    </div>
                </div>
                <p>
                    @item.FComment
                </p>
            </div>
        </div>
        }
        </div>

        <!--範例評論-->
@*         <div class="review-list mb-30 border radius-md">
            <div class="review-item p-30">
                <div class="review-header flex-wrap mb-20">
                    <div class="author d-flex align-items-center justify-content-between gap-3">
                        <div class="author-img">
                            <a href="error-404.html" target="_self" title="Link" class="lazy-container ratio ratio-1-1 rounded-circle">
                                <img class="lazyload" src="/images/placeholder.png" data-src="/images/avatar-4.jpg" alt="Avatar">
                            </a>
                        </div>
                        <div class="author-info">
                            <h6 class="mb-1">
                                <a href="error-404.html" target="_self" title="Link">Mark Jco</a>
                            </h6>
                            <div class="ratings mb-1">
                                <div class="rate bg-img" data-bg-image="/images/rate-star.png">
                                    <div class="rating-icon bg-img" data-bg-image="/images/rate-star.png"></div>
                                </div>
                                <span class="ratings-total">(4)</span>
                            </div>
                            <span class="font-xsm icon-start">
                                <span class="color-green">
                                    <i class="fa-solid fa-circle-check" style="color: #00db0f;"></i>
                                </span>
                                Verified User
                            </span>
                        </div>
                    </div>
                    <div class="more-info font-sm">
                        <div class="icon-start">
                            <i class="fa-solid fa-clock"></i>
                            04 Days ago
                        </div>
                    </div>
                </div>
                <h5 class="lc-1">Ana Studios was very logical and creative at the same time</h5>
                <p>
                    The client received excellent feedback on DePalma Studios’ designs due to
                    their website's improved look and feel. The team was very communicative and
                    collaborative, and they demonstrated a unique understanding of the client’s
                    requirements, providing very.
                </p>
            </div>
        </div>
        <div class="review-list mb-30 border radius-md">
            <div class="review-item p-30">
                <div class="review-header flex-wrap mb-20">
                    <div class="author d-flex align-items-center justify-content-between gap-3">
                        <div class="author-img">
                            <a href="error-404.html" target="_self" title="Link" class="lazy-container ratio ratio-1-1 rounded-circle">
                                <img class="lazyload" src="/images/placeholder.png" data-src="/images/avatar-2.jpg" alt="Avatar">
                            </a>
                        </div>
                        <div class="author-info">
                            <h6 class="mb-1">
                                <a href="error-404.html" target="_self" title="Link">Johnny Ben</a>
                            </h6>
                            <div class="ratings mb-1">
                                <div class="rate bg-img" data-bg-image="/images/rate-star.png">
                                    <div class="rating-icon bg-img" data-bg-image="/images/rate-star.png"></div>
                                </div>
                                <span class="ratings-total">(4)</span>
                            </div>
                            <span class="font-xsm icon-start">
                                <span class="color-green">
                                    <i class="fa-solid fa-circle-check" style="color: #00db0f;"></i>
                                </span>
                                Verified User
                            </span>
                        </div>
                    </div>
                    <div class="more-info font-sm">
                        <div class="icon-start">
                            <i class="fa-solid fa-clock"></i>
                            04 Days ago
                        </div>
                    </div>
                </div>
                <h4 class="lc-1">Ana Studios was very logical and creative at the same time</h4>
                <p>
                    The client received excellent feedback on DePalma Studios’ designs due to
                    their website's improved look and feel. The team was very communicative and
                    collaborative, and they demonstrated a unique understanding of the client’s
                    requirements, providing very.
                </p>
            </div>
            </div> 
        </div> *@
@*         <!-- Pagination -->
        <nav class="pagination-nav mb-30">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="courses.html" aria-label="Previous">
                        <i class="fa-solid fa-angle-left"></i>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link" href="courses.html">1</a></li>
                <li class="page-item"><a class="page-link" href="courses.html">2</a></li>
                <li class="page-item"><a class="page-link" href="courses.html">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="courses.html" aria-label="Next">
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </nav> *@
