@model IEnumerable<TeacherBasicViewModel>

@{
    ViewData["Title"] = "info";
}
@section Style {
    <link href="~/css/tonyadd/tbasicinfostyle.css" rel="stylesheet" asp-append-version="true" />
}
<!-- Breadcrumb start -->
<div class="breadcrumb-area bg-img bg-cover" data-bg-image="/images/owenadd/breadcrumb-bg.jpg">
    <div class="container">
        <div class="content text-center">
            <h2>老師資訊</h2>
        </div>
    </div>
</div>
<!-- Breadcrumb end -->
<!-- Mentor-details-area start -->
@foreach (TeacherBasicViewModel item in Model)
{
    <!-- 下方的ajax是利用這裡的老師ID來過濾對應的多圖片 -->
    <input type="hidden" id="buttonteacherid" value="@item.TeacherId">
    <section class="mentor-details pt-60 pb-5" style="background-color:#f8ffff;">
        <div class="container">
            <div class="row gx-xl-5 align-items-center">
                <!-- 老師頭像 -->

                <div class="col-xl-4 col-lg-5">
                    <div class="content-img mb-40" data-aos="fade-up" style="position: relative;">
                        <div class="lazy-container ratio ratio-1-1 radius-md" style="position: relative;">
                            <img class="lazyload blur-up" src="@item.TeacherProfilePicURL" alt="Mentor">
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 mb-40">
                    @await Component.InvokeAsync("VideoPlayer", new { id = item.TeacherId })
                </div>
            </div>
        </div>
    </section>


    <section class="mentor-details pt-5 pb-60">
        <div class="container">
            <div class="row gx-xl-5 align-items-center">


                <div class="col-xl-8 col-lg-7">
                    <div class="content-title mb-40" data-aos="fade-up">
                        <!-- 老師名稱 -->
                        <h2 class="title mt-0 mb-1">@item.TeacherName</h2>
                        <!-- 開課科目 -->
                        <div id="teacherTitle" class="content-text mt-20"><b>教授科目</b></div>
                        <div class="content-text mt-20" style="white-space: nowrap; ">
                            <p id="teacherContent">
                                @string.Join(", ", item.SubjectName)
                            </p>
                        </div>
                        <!-- 評價 -->
                        @* <div class="ratings mt-2">
                    <div class="rate bg-img" data-bg-image="/images/rate-star.png">
                    <div class="rating-icon bg-img" data-bg-image="/images/rate-star.png"></div>
                    </div>
                    <span class="ratings-total">(5)</span>
                    </div> *@
                        <!-- 老師自我介紹 -->
                        <div id="teacherTitle" class="content-text mt-20"><b>自我介紹</b></div>
                        <div class="content-text mt-20" style="white-space: nowrap; ">
                            <p id="teacherContent" style="white-space: pre-line;">
                                @item.Introduction
                            </p>
                        </div>
                        <div id="teacherTitle" class="content-text mt-20"><b>聯絡方式</b></div>
                        <div class="content-text mt-20" style="white-space: nowrap; ">
                            <p id="teacherContent">
                                @item.ContactInfo
                            </p>
                        </div>
                        <!-- 社群網站連結fContactInfo -->
                        <div class="social-link icon-only mt-25">
                            <span>社群網站連結:</span>
                            <a href="https://www.instagram.com/" target="_blank" title="instagram" class="color-primary"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.dribbble.com/" target="_blank" title="dribbble" class="color-primary"><i class="fab fa-dribbble"></i></a>
                            <a href="https://www.twitter.com/" target="_blank" title="twitter" class="color-primary"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.youtube.com/" target="_blank" title="youtube" class="color-primary"><i class="fab fa-youtube"></i></a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- 老師多圖片開始 -->
    <section class="course-area latest pb-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title title-inline mb-30" data-aos="fade-up">
                        <h2 class="title mb-20">老師相關圖片 <span></span></h2>
                        <div class="tabs-navigation mb-20">
                            <ul class="nav nav-tabs" data-hover="fancyHover">
                                <li class="nav-item ">
                                    <button class="nav-link hover-effect btn-md rounded-pill " id="btncategory">全部</button>
                                </li>
                                <li class="nav-item ">
                                    <button class="nav-link hover-effect btn-md rounded-pill " id="btncategory">教育背景</button>
                                </li>
                                <li class="nav-item">
                                    <button class="nav-link hover-effect btn-md rounded-pill" id="btncategory">證照證書</button>
                                </li>
                                <li class="nav-item">
                                    <button class="nav-link hover-effect btn-md rounded-pill" id="btncategory">作品</button>
                                </li>
                                <li class="nav-item">
                                    <button class="nav-link hover-effect btn-md rounded-pill" id="btncategory">其他</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="tab-content" data-aos="fade-up">
                        <!-- tab1 start -->
                        <div class="tab-pane slide show active">
                            <div class="row" id="content1">
                                @*  <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="course-default border radius-md mb-30" >
                            <figure class="course-img">
                            <img class="lazyload" src="../assets/images/placeholder.png" data-src="../assets/images/course/pro-5.jpg" alt="course">
                            </figure>
                            <div class="course-details">
                            <div class="p-3">
                            <h6 class="course-title lc-2 mb-0">
                            Photoshop Master Course:
                            </h6>
                            </div>
                            </div>
                            </div>
                            </div> *@
                            </div>
                        </div>
                        <!-- tab1 end -->
                    </div>
                    <nav class="pagination-nav mt-15 mb-30" data-aos="fade-up">
                        <ul id="ul1" class="pagination justify-content-center">
                            <!-- 這裡是分頁 1 、 2 、 3 -->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <!-- 老師多圖片結束 -->
    <!-- Mentor-details-area end -->
    <!-- Course-area start -->
    <section class="course-area popular pb-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title title-inline mb-50" data-aos="fade-up">
                        <h2 class="title">現正<span>報名中</span></h2>
                        <div class="cta-btn">
                            <a href="courses.html" class="btn btn-lg btn-primary rounded-pill" title="See All Course" target="_self">所有課程</a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <!-- Slider main container -->
                    <div class="swiper course-slider" id="course-slider-1" data-slides-per-view="4" data-swiper-loop="true" data-aos="fade-up">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            @await Component.InvokeAsync("CourseItemView", new { id = item.TeacherId })
                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination position-static" id="course-slider-1-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Course-area end -->
}

@section Scripts {
    <script>
        var id = @ViewBag.Id;
        const ulPaging = document.querySelector('#ul1');
        const content1 = document.querySelector('#content1');
        const btncategories = document.querySelectorAll('#btncategory');
        const buttonteacherid = document.querySelectorAll('#buttonteacherid');
        const searchData = {
            "keywordca": "",
            "page": 1,
            "pageSize": 4,
        };
        const loadTrcards = async () => {
            const response = await fetch(`@Url.Content("~/Teacher/OneTrInfo")?id=${id}`, {
                "method": "POST",
                "body": JSON.stringify(searchData),
                "headers": { "Content-Type": "application/json" }
            });
            const datas = await response.json();
            //console.log(datas);
            const divTrpics = datas.categoriesResult.map(ti => {
                const { fImageName, fCategory, teacherImagesURL } = ti;
                return (
                    `
                                            <div class="col-xl-3 col-lg-4 col-sm-6">
                                                <div class="course-default border radius-md mb-30">
                                                    <figure class="course-img">
                                                          <img style="width:360px;height:240px;" class="lazyload" src="${teacherImagesURL}">
                                                    </figure>
                                                    <div class="course-details">
                                                        <div class="p-3">
                                                            <h6 class="course-title lc-2 mb-0">
                                                                      ${fImageName}
                                                            </h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                            `
                )
            });
            content1.innerHTML = divTrpics.join("");
            let liPaging = "";
            for (let i = 1, max = datas.totalPages; i <= max; i++) {
                //console.log(i)
                liPaging += ` <li class="page-item"  onclick="pagingHandler(${i})"><a class="page-link" href="#">${i}</a></li>`
            }
            ulPaging.innerHTML = liPaging;
        };
        const pagingHandler = page => {
            searchData.page = page;
            //console.log(page);
            loadTrcards();
        }
        btncategories.forEach(btncategory => {
            btncategory.addEventListener('click', (event) => {
                const categoryname = btncategory.innerText;
                //console.log(categoryname)
                searchData.keywordca = categoryname;
                searchData.page = 1;
                loadTrcards();
            })
        })
        loadTrcards();
    </script>
}