@model IEnumerable<TeacherBasicViewModel>
@{
    ViewData["Title"] = "TBasicInfo";
    Layout = "~/Views/Shared/_LayoutTeacherAdmin.cshtml";
}

<style>
    /* 客製上傳按鈕 */
    .hidden {
        display: none;
    }

    .btn.btn-primary.btn-sm {
        cursor: pointer;
        background-color: #0072E3;
        color: white;
    }

        .btn.btn-primary.btn-sm:hover {
            background-color: #2828FF;
        }

    #profile-overview > p {
        font-size:20px;
    }

    #profile-overview > h5 {
        font-size: 25px;
       font-weight: bold;
    }

    .nav-item {
        font-size: 20px;
    }

    .custom-size{
        padding: 3px 7px; /* 自定義按鈕的內邊距 */
    }
</style>

<div class="pagetitle">
    <h1>基本資訊</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">老師後台</a></li>
            <li class="breadcrumb-item">老師資料</li>
            <li class="breadcrumb-item active">基本資訊</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section profile">
    <div class="row">
        <div class="col-xl-4">
            <!-- 左邊卡片 -->
            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                    @foreach (TeacherBasicViewModel item in Model)
                    {
                        <!-- 老師頭像 -->
                        <img id="Teacher-avatar1" src="@item.TeacherProfilePicURL" alt="Profile" class="rounded-circle"/>
                        <h2 id="Teacher-name1">@item.TeacherName</h2>
                        <h3> </h3>
                        <div class="pt-2">
                            <!-- 上傳修改頭像input -->
                            @* <input type="hidden" name="id" value="@item.TeacherId" /> *@
                            <span class="file-input-container">
                                <input type="file" id="InputUpladPicprofile" class="hidden" accept="image/gif, image/jpeg, image/png" multiple />
                                <label for="InputUpladPicprofile" class="btn btn-primary custom-size" title="Upload new profile image"><i class="bi bi-upload"></i></label>
                            </span>
                            <!-- 清除頭像btn -->
                            <button id="buttonDeletePicprofile" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></button>
                        </div>
                    }
                </div>

            </div>


        </div>

        <div class="col-xl-8">
            <!-- 右邊卡片 -->
            <div class="card">

                <div class="card-body pt-3">

                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">預覽</button>
                        </li>

                        <li class="nav-item">
                            @foreach (TeacherBasicViewModel item in Model)
                            {
                                <button TeacherID="@item.TeacherId" class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">編輯</button>
                            }
                        </li>
                    </ul>
                    <div class="tab-content pt-2">
                        <!-- 預覽內容 -->
                        @foreach (TeacherBasicViewModel item in Model)
                        {
                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <!-- 標題1 老師名稱 -->
                                <h5 class="card-title">@Html.DisplayNameFor(tr => tr.TeacherName)</h5>
                                <p>@item.TeacherName</p>

                                <!-- 標題2 可開課科目 -->
                                <h5 class="card-title">@Html.DisplayNameFor(t => t.SubjectName)</h5>
                                <p>@string.Join(", ", item.SubjectName)</p>

                                <!-- 標題3 關於我 -->
                                <h5 class="card-title">@Html.DisplayNameFor(t => t.Introduction)</h5>
                                <p>@item.Introduction</p>

                                <!-- 標題4 備註 -->
@*                                 <h5 class="card-title">@Html.DisplayNameFor(t => t.Note)</h5>
                                <p>@item.Note</p> *@

                                <!-- 標題5 聯絡方式 -->
                                <h5 class="card-title">@Html.DisplayNameFor(t => t.ContactInfo)</h5>
                                <p>@item.ContactInfo</p>
                            </div>
                            <!-- ========== 編輯表單 ========== -->
                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                                <partial name="T_EditFormBasicInfo" model="@item.TeacherModel"></partial>
                            </div>
                        }

                    </div><!-- End Bordered Tabs -->

                </div>
            </div>

        </div>
    </div>
</section>




@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            //上傳頭像按鈕change事件
            const InputUpladPicprofile = document.getElementById("InputUpladPicprofile");
            InputUpladPicprofile.addEventListener("change", function () {
                if (InputUpladPicprofile.files.length > 0) {
                    const formData = new FormData();
                    console.log(InputUpladPicprofile.files[0])
                    formData.append("profilePic", InputUpladPicprofile.files[0]);

                    // 发送FormData对象
                    fetch('@Url.Content("~/TeacherAdmin/TEditTrProfilePic")', {
                        method: 'POST',
                        body: formData
                    })
                    Swal.fire({
                        position: "center",
                        icon: "success",
                        title: "已成功上傳頭像",
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                        //https://ithelp.ithome.com.tw/articles/10190062
                        //Javascript 頁面跳轉、刷新、重定向的幾種方式
                        window.location.href = '/TeacherAdmin/TBasicInfo';
                    });
                }
            });
            //刪除頭像按鈕click事件
            const buttonDeletePicprofile = document.querySelector('#buttonDeletePicprofile');
            buttonDeletePicprofile.addEventListener("click", function () {
                //圖像url轉blob方法 : urlToBlob
                function urlToBlob(url) {
                    return new Promise((resolve, reject) => {
                        fetch(url)
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Network response was not ok');
                                }
                                return response.blob();
                            })
                            .then(blob => {
                                resolve(blob);
                            })
                            .catch(error => {
                                reject(error);
                            });
                    });
                }
                var imageUrl = "https://i.imgur.com/xcZh1PZ.png";
                //使用圖像url轉blob方法
                urlToBlob(imageUrl)
                    .then(blob => {
                        // 在这里可以使用 blob 对象，例如将其转换为文件对象
                        var file = new File([blob], "image.jpg", { type: "image/jpeg" });
                        console.log(file);


                        const formData = new FormData();
                        formData.append("profilePic", file);

                        // 发送FormData对象
                        fetch('@Url.Content("~/TeacherAdmin/TEditTrProfilePic")', {
                            method: 'POST',
                            body: formData
                        })
                        Swal.fire({
                            position: "center",
                            icon: "success",
                            title: "刪除頭像成功",
                            showConfirmButton: false,
                            timer: 1500
                        }).then(() => {
                            //https://ithelp.ithome.com.tw/articles/10190062
                            //Javascript 頁面跳轉、刷新、重定向的幾種方式
                            window.location.href = '/TeacherAdmin/TBasicInfo';
                        });





                    })


            });
        });
    </script>
}
