 @model IEnumerable<LessonCourseVM>
@foreach(var course in Model)
{
    <div class="swiper-slide">
        <div class="course-default border radius-md mb-30">
            <figure class="course-img">
                <a asp-controller="Lesson" asp-action="Details" asp-route-id="@course.lessonCourse.FLessonCourseId" title="Image" target="_self" class="lazy-container ratio ratio-2-3">
                    @if (course.imageData != null)
                    {
                        <img class="lazyload" src="data:image;base64,@(Convert.ToBase64String(course.imageData))" alt="Image" />
                    }
                    else
                    {
                        <img class="lazyload" src="/images/placeholder.png" data-src="/images/course/pro-1.jpg" alt="course">
                    }

                </a>
                <div class="hover-show">
                    <a asp-controller="Lesson" asp-action="Details" asp-route-id="@course.lessonCourse.FLessonCourseId" class="btn btn-md btn-primary rounded-pill" title="Enroll Now" target="_self">立即預約</a>
                </div>
            </figure>
            <div class="course-details">
                <div class="p-3">
                    <a asp-controller="Lesson" asp-action="Details" asp-route-id="@course.lessonCourse.FLessonCourseId" target="_self" title="" class="tag font-sm color-primary mb-1">@(course.fieldName)/@(course.subjectName)</a>
                    <h6 class="course-title lc-2 mb-0">
                        <a asp-controller="Lesson" asp-action="Details" asp-route-id="@course.lessonCourse.FLessonCourseId" target="_self" title="Link">
                            @course.lessonCourse.FName
                        </a>
                    </h6>
                    <div class="authors mt-15">
                        <div class="author">
                            @if (course.TeacherImage != null)
                            {
                                <img class="lazyload blur-up radius-sm" src="data:image;base64,@(Convert.ToBase64String(course.TeacherImage))" alt="Image" />
                            }
                            else
                            {
                                <img class="lazyload blur-up radius-sm" src="/images/placeholder.png" data-src="/images/course/pro-1.jpg" alt="course">
                            }
                            <span class="font-sm">
                                <a asp-controller="Teacher" asp-action="Info" asp-route-id="@course.lessonCourse.FTeacherId" title="@course.teacherName">
                                    @course.teacherName
                                </a>
                            </span>
                        </div>

                    </div>
                </div>
                <div class="course-bottom-info px-3 py-2">
                    <span class="font-sm">
                        <i class="fas fa-usd-circle"></i>
                        NT @if (course.lessonCourse.FPrice is not null)
                        {
                            @((decimal)Math.Floor((double)course.lessonCourse.FPrice))
                        }
                    </span>
                    @{
                        if (course.lessonCourse.FLessonDate != null)
                        {
                            var lessonDateStr = course.lessonCourse.FLessonDate.Value.ToString("yyyy/MM/dd");
                            <span class="font-sm icon-start"><i class="fas fa-clock"></i>@lessonDateStr</span>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
}

