@model LessonHistoryDetailViewModel



<!-- Breadcrumb start -->
<div class="breadcrumb-area bg-img bg-cover" data-bg-image="/images/owenadd/breadcrumb-bg.jpg">
    <div class="container">
        <div class="content text-center">
            <h2>課程記錄明細</h2>
        </div>
    </div>
</div>
<!-- Breadcrumb end -->
<!-- Mentor-details-area start -->


<section class="mentor-details pt-60 pb-10">
    <div class="container">
        <div class="row gx-xl-5 align-items-center">
            <div class="col-xl-4 col-lg-5">
                <div class="mb-40" data-aos="fade-up">
                    <div >
                        <partial name="_LessonHistoryDetailPicturePartial" model="Model" />
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7">
                <div class="content-title mb-70" data-aos="fade-up">
                    <h3 class="title mt-0 mb-4 fs-3">@Html.DisplayFor(model => model.FName)</h3>
                    <i class="fa-solid fa-circle-info fa-1.5x color-primary"></i>
                    <span class=" fs-5 " style="margin-top: 60px; font-weight: bold; color: black;">
                        課程資訊：
                    </span>
                    <span class=" fs-5 " style="text-align: justify;">
                        @Html.DisplayFor(model => model.FDescription)
                    </span>
                    <div style="margin-top: 20px">
                        <i class="fa-solid fa-calendar-days fa-1.5x color-primary"></i>
                        <span class="fs-5 fw-bold" style="font-weight: bold; color: black;">
                            課程日期：
                        </span>
                        <span class="fs-5 ">
                           @(Model.FLessonDate?.ToString("yyyy/MM/dd"))
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Mentor-details-area end -->
<!-- Checkout-area start -->
<div class="shopping-area pt-40 pb-60">
    <div class="d-flex container">
        <div class="flex-grow-1 row gx-xl-5" style="width:50%">
            <div class="col-lg-8">
                <div class="billing-details" data-aos="fade-up">
                    <h4 class="mb-20 fs-4">訂單編號</h4>
                    <div class="col-lg-6">
                        <div class="form-group mb-30 fs-5">
                            <label id="OrderDetailId" for="firstName">@Html.DisplayFor(model => model.FOrderNumber)<span class="color-red"></span> </label>
                        </div>
                    </div>
                    <h4 class="mb-20 fs-4">訂單狀態</h4>
                    <div class="col-lg-6">
                        <div class="form-group mb-30 fs-5">
                            <label for="firstName"id="isvalid">@((Model.FOrderValid) ? "成立" : "取消")<span class="color-red"></span> </label>
                        </div>
                    </div>
                    <h4 class="mb-20 fs-4">訂單成立時間</h4>
                    <div class="col-lg-6">
                        <div class="form-group mb-30 fs-5">
                            <label for="firstName" style="width:250px">@Html.DisplayFor(model => model.FOrderDate) </label>
                        </div>
                    </div>
                    <h4 class="mb-20 fs-4">訂單金額</h4>
                    <div class="col-lg-6">
                        <div class="form-group mb-30 fs-5">
                            <label for="firstName">
                                @(((int)Model.FLessonPrice).ToString("N0")) 元<span class="color-red"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-grow-1" style="width:50%">
            <div class="billing-details" data-aos="fade-up">
                <h4 class="mb-20 fs-4">★取消辦法</h4>
                <div>
                    <div class="col-lg-12 fs-5">
                        <ol class="indented-list" style="padding-right: 20px; list-style:cjk-ideographic;list-style-position:outside">
                            <li>如需請假，需於課程開始前線上申請。</li>
                            <li>若未依規定請假，恕不順延與退費。</li>
                            <li>若課程進行中或課程已結束，恕不提供退費服務。</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="text-center">
                @{
                    if (Model.FLessonDate > DateTime.Now && Model.FOrderValid == true)
                    {<br>
                                <button id="cancelOrderButton" class="fs-4 btn btn-lg btn-primary radius-sm w-100" style="margin-bottom: 20px" type="button" aria-label="button" data-bs-toggle="modal" data-bs-target="#orderSuccessModal">我要取消報名</button>
                    }
                }
            </div>            
            <div class="text-center">
                @{
                    if (Model.FLessonDate < DateTime.Now && Model.FOrderValid == true)
                    {<br>
                                <button id="cancelOrderButton" class="fs-4 btn btn-lg btn-secondary radius-sm w-100" style="margin-bottom: 20px" type="button" aria-label="button" disabled>已無法取消報名</button>
                        
                    }
                }
            </div>
            <div >
                @{
                    if (Model.FOrderValid == false)
                    {<br>                      
                                <button id="canceledOrderButton" class="fs-4 btn btn-lg btn-secondary radius-sm w-100" type="button" aria-label="button" disabled>已取消報名</button>
                                <h4 class="mb-20 fs-4" style="margin-top: 20px">取消原因</h4>
                                <div class="col-lg-6">
                                    <div class="form-group mb-10 fs-5">
                                        <label for="firstName">@Model.FModificationDescription</label>
                                    </div>
                                </div>
                    }
                }
            </div>
            <h4 id="cancelreason" class="mb-20 fs-4" style="margin-top:20px; display:none;">取消原因</h4>
            <div class="col-lg-6 " >
                <div class="form-group mb-10 fs-5">
                    <label id="cancelreason2" for="firstName" style="display:none;">@Model.FModificationDescription</label>
                </div>
            </div>
            <div class="text-center">
                <button class="fs-3 btn btn-lg btn-primary radius-sm w-100" type="button" aria-label="button" data-bs-toggle="modal" data-bs-target="#evalModal" id="createBtn">我要評價課程</button>
            </div>
            <div class="text-center">
                <button class="fs-3 btn btn-lg btn-primary radius-sm w-100" type="button" aria-label="button" data-bs-toggle="modal" data-bs-target="#editEvalModal" id="editBtn">修改課程評價</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const OrderId = @Model.FOrderId;
        const cancelbtn = document.querySelector('#cancelOrderButton');
        const canceledbtn = document.querySelector('#canceledOrderButton');
        const isvalidlbl = document.querySelector('#isvalid');
        const cancelreasonlbl = document.querySelector('#cancelreason');
        const cancelreason2lbl = document.querySelector('#cancelreason2');

        let selectedReason;
        $(document).ready(function () {
            // 點擊事件
            $('#cancelOrderButton').click(function () {
                // 第1個彈跳視窗
                Swal.fire({
                    title: "請選擇取消原因：",
                    input: 'radio',
                    inputOptions: {
                        '改變主意': '改變主意',
                        '因病請假': '因病請假',
                        '私人因素': '私人因素',
                    },
                    inputValidator: (value) => {
                        if (!value) {
                            return '您需要選擇一個取消原因'
                        }
                        selectedReason = value;
                    },
                    showCancelButton: true,
                    cancelButtonText: '取消',
                    confirmButtonText: '下一步',
                    allowOutsideClick: false
                }).then((result) => {
                    if (result.isConfirmed) {
                        // 第2個彈跳視窗
                        Swal.fire({
                            title: "您是否確定取消課程？",
                            text: "(取消後如欲上課，請至課程列表再次重新報名)",
                            icon: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#3085d6",
                            confirmButtonText: "確定",
                            cancelButtonText: "取消"
                        }).then((result) => {
                            if (result.isConfirmed) {
                                // 發送 AJAX 請求更新資料庫中的 FOrderValid
                                $.ajax({
                                    type: 'POST',
                                    data: {
                                        id: parseInt(OrderId),
                                        reason: selectedReason }, // 將 result.value 傳遞給控制器
                                    url: `/LessonHistory/CancelOrder`,
                                    success: function () {
                                        // 更新成功後執行下一步操作
                                        // 第3個彈跳視窗
                                        Swal.fire({
                                            title: "已收到您的取消報名申請！",
                                            showCancelButton: true,
                                            confirmButtonColor: "#3085d6",
                                            confirmButtonText: "返回首頁",
                                            cancelButtonText: "關閉視窗"
                                        }).then((result) => {

                                            if (result.isConfirmed) {
                                                window.location.href = '';
                                            } else if (result.dismiss === Swal.DismissReason.cancel) {

                                                cancelbtn.style.display = 'none';
                                                isvalidlbl.innerHTML = "取消";
                                                cancelreasonlbl.style.display = 'block';
                                                cancelreason2lbl.style.display = 'block';
                                                cancelreason2lbl.innerHTML = selectedReason;
                                            }
                                        });
                                    }
                                });
                            }
                        });
                    }
                });
            });
        });
    </script>
}

<!--FOrderDetailId儲存-->
<div id="FOrderDetailId" data-value="@Model.FOrderDetailId"></div>

<!--評價呈現-->
<div id="evalDetailPartial"></div>

<!--評價彈跳視窗-->
<div id="createPartial"></div>

<!--修改評價彈跳視窗-->
<div id="editPartial"></div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous">
</script>

@section Style {
    <link rel="stylesheet" href="~/css/BenAdd/ValStyle.css" />
}

<!--判斷是否評價過-->
<script src="~/js/BenScript/isValuated.js"></script>

<!--新建評價-->
<script src="~/js/BenScript/CreateEvalPartial.js"></script>

<!--編輯評價-->
<script src="~/js/BenScript/EditEvalPartial.js"></script>

<script src="~/js/BenScript/EvalDetailPartial.js"></script>
