@model IEnumerable<LessonCourseVM>

<!-- Home-area start-->

<section class="hero-banner hero-banner_v1 header-next pb-60">
    <partial name="_loginLogPartial" />
    <div class="container">
        <div class="row align-items-center gx-xl-5">
            <div class="col-lg-6">
                <div class="banner-content mb-40">
                    <h1 class="title mb-30" data-aos="fade-up" data-aos-delay="100">
                        能力想更上層樓就要
                        <span class="d-block text-center">來學樂</span>
                        <img class="title-shape lazyload" src="/images/placeholder.png" data-src="" alt="Shape">
                    </h1>
                    <p class="text text-center" data-aos="fade-up" data-aos-delay="100">
                        歡迎到來學樂，選擇全台最優質多元課程預約平台。
                    </p>
                    <div class="banner-filter-form mt-40" data-aos="fade-up" data-aos-delay="150">
                        <div class="form-wrapper border rounded-pill">
                            <div class="d-flex justify-content-center align-items-center ">
                                <div class="col-xl-4 col-lg-2 col-md-4 col-sm-6">
                                    <button class="btn btn-lg btn-primary rounded-pill w-100" type="button" aria-label="Find Course">
                                        <a asp-controller="Lesson" asp-action="Index" style="color:ghostwhite">來找課程</a>
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up">
                <div class="banner-image mb-40">
                    <img class="rounded lazyload blur-up" src="/images/placeholder.png" data-src="/images/Clement/banner.png" alt="Banner Image" style=" image-rendering: pixelated;filter: brightness(120%);">
                </div>
            </div>
        </div>
    </div>
    <!-- Shapes -->
    <div class="shape">
        <img class="shape-1 lazyload" src="/images/placeholder.png" data-src="/images/shape/shape-1.png" alt="Shape">
        <img class="shape-2 lazyload" src="/images/placeholder.png" data-src="/images/shape/shape-2.png" alt="Shape">
        <img class="shape-3 lazyload" src="/images/placeholder.png" data-src="/images/shape/shape-3.png" alt="Shape">
        <img class="shape-4 lazyload" src="/images/placeholder.png" data-src="/images/shape/shape-4.png" alt="Shape">
        <img class="shape-5 lazyload" src="/images/placeholder.png" data-src="/images/shape/shape-5.png" alt="Shape">
        <img class="shape-6 lazyload" src="/images/placeholder.png" data-src="/images/shape/shape-6.png" alt="Shape">
        <img class="shape-7 lazyload" src="/images/placeholder.png" data-src="/images/shape/shape-7.png" alt="Shape">
        <img class="shape-8 lazyload" src="/images/placeholder.png" data-src="/images/shape/shape-8.png" alt="Shape">
        <img class="shape-9 lazyload" src="/images/placeholder.png" data-src="/images/shape/shape-6.png" alt="Shape">
    </div>
</section>
<!-- Home-area end -->
<!-- Category-area start -->
<section class="category-area category-area_v1 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title title-center mb-50" data-aos="fade-up">
                    <h2 class="title mb-0">
                        <span>探索現在最夯的領域</span>
                        <img class="title-shape lazyload" src="/images/placeholder.png" data-src="/images/shape/title-shape.png" alt="Shape">
                    </h2>
                </div>
            </div>
            <div class="col-12" data-aos="fade-up">
                <div class="swiper category-slider" id="category-slider-1" data-slides-per-view="5" data-swiper-loop="false">
                    @foreach (var course in Model.Take(1))
                    {
                        <div class="swiper-wrapper">
                            @foreach (var field in course.fields)
                            {
                                <div class="swiper-slide">
                                    <div class="card p-25 border radius-md">
                                        <div class="card-icon radius-md mb-20">
                                            <i class="fa-solid fa-lightbulb fa-bounce fa-xs"></i>
                                        </div>
                                        <h6 class="card-title lc-1 mb-0">
                                            <div  target="_self">
                                                @field
                                            </div>
                                        </h6>
                                    </div>
                                </div>
                            }
                        </div>
                    }

                    <div class="swiper-pagination position-static mt-30" id="category-slider-1-pagination"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shapes -->
    <div class="shape">
        <img class="shape-1 lazyload" src="/images/placeholder.png" data-src="/images/shape/shape-3.png" alt="Shape">
        <img class="shape-2 lazyload" src="/images/placeholder.png" data-src="/images/shape/shape-1.png" alt="Shape">
        <img class="shape-3 lazyload" src="/images/placeholder.png" data-src="/images/shape/shape-6.png" alt="Shape">
        <img class="shape-4 lazyload" src="/images/placeholder.png" data-src="/images/shape/shape-4.png" alt="Shape">
    </div>
</section>
<!-- Category-area end -->
<!-- Counter-area start -->
<div class="counter-area counter-area_v1 pt-100 pb-70 bg-img bg-cover" data-bg-image="/images/counter-bg.jpg">
    <div class="overlay opacity-90 bg-primary"></div>
    <div class="container">
        <div class="counter-inner">
            <div class="row">
                <div class="col-sm-6 col-lg-3 mb-30" data-aos="fade-up">
                    <div class="card text-center bg-none">
                        <div class="card-icon mx-auto mb-15">
                            <img class="lazyload" src="/images/placeholder.png" data-src="/images/icon/counter-icon-1.png" alt="Image">
                        </div>
                        <div class="card-content">
                            <span class="h3 font-medium color-white mb-2"><span class="counter">500</span>+</span>
                            <p class="card-text color-white lh-1">好評不斷</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-30" data-aos="fade-up">
                    <div class="card text-center bg-none">
                        <div class="card-icon mx-auto mb-15">
                            <img class="lazyload" src="/images/placeholder.png" data-src="/images/icon/counter-icon-2.png" alt="Image">
                        </div>
                        <div class="card-content">
                            <span class="h3 font-medium color-white mb-2"><span class="counter">300</span>+</span>
                            <p class="card-text color-white lh-1">優質課程</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-30" data-aos="fade-up">
                    <div class="card text-center bg-none">
                        <div class="card-icon mx-auto mb-15">
                            <img class="lazyload" src="/images/placeholder.png" data-src="/images/icon/counter-icon-3.png" alt="Image">
                        </div>
                        <div class="card-content">
                            <span class="h3 font-medium color-white mb-2"><span class="counter">240</span>+</span>
                            <p class="card-text color-white lh-1">認證講師</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-30" data-aos="fade-up">
                    <div class="card text-center bg-none">
                        <div class="card-icon mx-auto mb-15">
                            <img class="lazyload" src="/images/placeholder.png" data-src="/images/icon/counter-icon-4.png" alt="Image">
                        </div>
                        <div class="card-content">
                            <span class="h3 font-medium color-white mb-2"><span class="counter">100</span>%</span>
                            <p class="card-text color-white lh-1">值得信賴的平台</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="arrows d-none d-lg-block">
                <img class="arrow lazyload" src="/images/placeholder.png" data-src="/images/icon/line-arrow.png" alt="Image">
                <img class="arrow lazyload" src="/images/placeholder.png" data-src="/images/icon/line-arrow.png" alt="Image">
                <img class="arrow lazyload" src="/images/placeholder.png" data-src="/images/icon/line-arrow.png" alt="Image">
            </div>
        </div>
    </div>
</div>
<!-- Counter-area end -->
<!-- Course-area start 熱門課程 -->
<section class="course-area popular ptb-100">
    <partial name="_loginLogPartial" />
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title title-inline mb-50" data-aos="fade-up">
                    <h2 class="title">
                        <span>近期熱門課程</span>
                        <img class="title-shape lazyload" src="/images/placeholder.png" data-src="/images/shape/title-shape.png" alt="Shape">
                    </h2>
                    <div class="cta-btn">
                        <a asp-controller="Lesson" asp-action="Index" class="btn btn-lg btn-primary rounded-pill" title="See All Course" target="_self">所有課程</a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <!-- Slider main container -->
                <div class="swiper course-slider" id="course-slider-1" data-slides-per-view="3" data-swiper-loop="true" data-aos="fade-up">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- 這邊是slide 之後要寫Razor 語法新增 -->                      
                            @foreach(var course in Model.Take(5))
                            {
                            <div class="swiper-slide">
                                <div class="course-default border radius-md mb-30">
                                    <figure class="course-img">
                                        <a asp-controller="Lesson" asp-action="Details" asp-route-id="@course.lessonCourse.FLessonCourseId" title="Image" target="_self" class="lazy-container ratio ratio-2-3">
                                            @if (course.imageData != null)
                                            {
                                                <img class="lazyload" src="data:image;base64,@(Convert.ToBase64String(course.imageData))" alt="Image" />
                                            }
                                            else
                                            {
                                                <img class="lazyload" src="/images/placeholder.png" data-src="/images/course/pro-1.jpg" alt="course">
                                            }
                                          
                                        </a>
                                        <div class="hover-show">
                                            <a asp-controller="Lesson" asp-action="Details" asp-route-id="@course.lessonCourse.FLessonCourseId" class="btn btn-md btn-primary rounded-pill" title="Enroll Now" target="_self">立即預約</a>
                                        </div>
                                    </figure>
                                    <div class="course-details">
                                        <div class="p-3">
                                            <a asp-controller="Lesson" asp-action="Details" asp-route-id="@course.lessonCourse.FLessonCourseId" target="_self" title="" class="tag font-sm color-primary mb-1">@(course.fieldName)/@(course.subjectName)</a>
                                            <h6 class="course-title lc-2 mb-0">
                                                <a asp-controller="Lesson" asp-action="Details" asp-route-id="@course.lessonCourse.FLessonCourseId" target="_self" title="Link">
                                                    @course.lessonCourse.FName
                                                </a>
                                            </h6>
                                            <div class="authors mt-15">
                                                <div class="author">
                                                    @if (course.TeacherImage != null)
                                                    {
                                                        <img class="lazyload blur-up radius-sm" src="data:image;base64,@(Convert.ToBase64String(course.TeacherImage))" alt="Image" />
                                                    }
                                                    else
                                                    {
                                                        <img class="lazyload blur-up radius-sm" src="/images/placeholder.png" data-src="/images/course/pro-1.jpg" alt="course">
                                                    }
                                                    <span class="font-sm">
                                                        <a asp-controller="Teacher" asp-action="Info" asp-route-id="@course.lessonCourse.FTeacherId" title="@course.teacherName">
                                                            @course.teacherName
                                                        </a>
                                                    </span>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="course-bottom-info px-3 py-2">
                                            <span class="font-sm"><i class="fas fa-usd-circle"></i>
                                                NT @if (course.lessonCourse.FPrice is not null)
                                                {
                                                    @((decimal)Math.Floor((double)course.lessonCourse.FPrice))
                                                }
                                           </span>
                                            @{
                                                if (course.lessonCourse.FLessonDate != null)
                                                {
                                                    var lessonDateStr = course.lessonCourse.FLessonDate.Value.ToString("yyyy/MM/dd");
                                                    <span class="font-sm icon-start"><i class="fa-solid fa-calendar-days color-primary"></i>@lessonDateStr</span>
                                                }                                            
                                             }
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }                           
                        </div>

                    
                    <!-- 分頁用 -->
                    <div class="swiper-pagination position-static" id="course-slider-1-pagination"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shapes -->
    <div class="shape">
        <img class="shape-1 lazyload" src="/images/placeholder.png" data-src="/images/shape/shape-4.png" alt="Shape">
        <img class="shape-2 lazyload" src="/images/placeholder.png" data-src="/images/shape/shape-1.png" alt="Shape">
        <img class="shape-3 lazyload" src="/images/placeholder.png" data-src="/images/shape/shape-3.png" alt="Shape">
        <img class="shape-4 lazyload" src="/images/placeholder.png" data-src="/images/shape/shape-6.png" alt="Shape">
    </div>
</section>
<!-- Course-area end -->
<!-- Course-area start 最新課程 -->
<section class="course-area latest ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title title-inline mb-30" data-aos="fade-up">
                    <h2 class="title mb-20">
                        <span>全新課程推薦</span>
                        <img class="title-shape lazyload" src="/images/placeholder.png" data-src="/images/shape/title-shape.png" alt="Shape">
                    </h2>
                    <div class="tabs-navigation mb-20">
                        <ul class="nav nav-tabs" data-hover="fancyHover">
                            @{
                                var index = 1;
                            }
                            @foreach (var course in Model.Take(1))
                            {
                                @foreach (var fields in course.fields)
                                {
                                    <li class="nav-item @(index == 1 ? "active" : "")">
                                        <button class="nav-link hover-effect btn-md rounded-pill @(index == 1 ? "active" : "")" data-bs-toggle="tab" data-bs-target="#tab@(index)" type="button">@fields</button>
                                    </li>
                                    index++;
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="tab-content" data-aos="fade-up">
                    <!--依照tab 去做分類 用Razor 語法做分類 -->
                    @{
                        List<string> TotalField = Model.Take(1).Select(f => f.fields).FirstOrDefault();
                    }
                    @for (int i = 1; i < TotalField.Count() + 1; i++)
                    {                      
                        <div class="tab-pane slide @(i == 1 ? "show active" : "")" id="tab@(i)">
                            <div class="row">
                                @foreach (var course in Model.Take(15))
                                {
                                    @if (course.fieldNumber == i)
                                    {
                                        <!-- 這邊是課程的細節 用Razor 語法-->
                                        <div class="col-xl-3 col-lg-4 col-sm-6">
                                            <div class="course-default border radius-md mb-30">
                                                <figure class="course-img">
                                                    <a href="course-details.html" title="Image" target="_self" class="lazy-container ratio ratio-2-3">
                                                         @if (course.imageData != null)
                                            {
                                                <img class="lazyload" src="data:image;base64,@(Convert.ToBase64String(course.imageData))" alt="Image" />
                                            }
                                            else
                                            {
                                                <img class="lazyload" src="/images/placeholder.png" data-src="/images/course/pro-1.jpg" alt="course">
                                            }
                                                    </a>
                                                    <div class="hover-show">
                                                        <a asp-controller="Lesson" asp-action="Details" asp-route-id="@course.lessonCourse.FLessonCourseId" class="btn btn-md btn-primary rounded-pill" title="Enroll Now" target="_self">前往課程</a>
                                                    </div>
                                                </figure>
                                                <div class="course-details">
                                                    <div class="p-3">
                                                        <a asp-controller="Lesson" asp-action="Details" asp-route-id="@course.lessonCourse.FLessonCourseId" target="_self" title=@course.subjectName class="tag font-sm color-primary mb-1">@(course.fieldName)/@(course.subjectName)</a>
                                                        <h6 class="course-title lc-2 mb-0">
                                                            <a asp-controller="Lesson" asp-action="Details" asp-route-id="@course.lessonCourse.FLessonCourseId" target="_self" title="Link">
                                                                @course.lessonCourse.FName
                                                            </a>
                                                        </h6>
                                                        <div class="authors mt-15">
                                                            <div class="author">
                                                                @if (course.TeacherImage != null)
                                                                {
                                                                    <img class="lazyload blur-up radius-sm" src="data:image;base64,@(Convert.ToBase64String(course.TeacherImage))" alt="Image" />
                                                                }
                                                                else
                                                                {
                                                                    <img class="lazyload blur-up radius-sm" src="/images/placeholder.png" data-src="/images/course/pro-1.jpg" alt="course">
                                                                }
                                                                <span class="font-sm">
                                                                    <a asp-controller="Teacher" asp-action="Info" asp-route-id="@course.lessonCourse.FTeacherId" title="@course.teacherName">
                                                                        @course.teacherName
                                                                    </a>
                                                                </span>
                                                            </div>
                                                            <!--課程總小時數考慮新增嗎?-->
                                                            @* <span class="font-sm icon-start"><i class="fas fa-clock"></i>06h 00m</span> *@
                                                        </div>
                                                    </div>
                                                    <div class="course-bottom-info px-3 py-2">

                                                        <span class="font-sm">
                                                            <i class="fas fa-usd-circle"></i>
                                                            NT @if (course.lessonCourse.FPrice is not null)
                                                            {
                                                                @((decimal)Math.Floor((double)course.lessonCourse.FPrice))
                                                            }
                                                        </span>
                                                        @{
                                                            if (course.lessonCourse.FLessonDate != null)
                                                            {
                                                                var lessonDateStr = course.lessonCourse.FLessonDate.Value.ToString("yyyy/MM/dd");
                                                                <span class="font-sm icon-start"><i class="fas fa-clock"></i>@lessonDateStr</span>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                }
                            </div>
                        </div>
                    }
                    <div class="cta-btn text-center mt-15">
                        <a asp-controller="Lesson" asp-action="Index" class="btn btn-lg btn-primary rounded-pill" title="View More" target="_self">所有課程</a>
                    </div>





                </div>
            </div>
        </div>
    </div>
    <!-- Shapes -->
    <div class="shape">
        <img class="shape-1 lazyload" src="/images/placeholder.png" data-src="/images/shape/shape-4.png" alt="Shape">
        <img class="shape-2 lazyload" src="/images/placeholder.png" data-src="/images/shape/shape-6.png" alt="Shape">
        <img class="shape-3 lazyload" src="/images/placeholder.png" data-src="/images/shape/shape-2.png" alt="Shape">
        <img class="shape-4 lazyload" src="/images/placeholder.png" data-src="/images/shape/shape-1.png" alt="Shape">
    </div>
</section>
<!-- Course-area end -->
<!-- Mentor-area start -->
<section class="mentor-area mentor-area_v1 pt-100 pb-70 bg-img bg-cover mb-10" data-bg-image="/images/OwenAdd/breadcrumb-bg.jpg">
    <div class="overlay opacity-85 bg-primary-light"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title title-center mb-50" data-aos="fade-up">
                    <h2 class="title">
                        來認識我們的 <span>優質講師</span>
                        <img class="title-shape lazyload" src="/images/breadcrumb-bg.png" data-src="/images/shape/title-shape.png" alt="Shape">
                    </h2>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <!-- 這邊是講師介紹 用Razor-->
                    @foreach (var course in Model.Skip(10).Take(3))
                    {
                        <div class="col-lg-4 col-sm-6" data-aos="fade-up">
                            <div class="card radius-md mb-30 shadow">
                                <div class="card-img">
                                    <a asp-controller="Teacher" asp-action="Info" asp-route-id="@course.lessonCourse.FTeacherId" asp-route-id="@course.teacher.FTeacherId" title="Image" target="_self" class="lazy-container ratio ratio-1-2">
                                        @if (course.teacher.FTeacherProfilePic != null) // 空值檢查
                                        {
                                            <img class="lazyload" src="data:image;base64,@(Convert.ToBase64String(course.teacher.FTeacherProfilePic))" alt="Image" />
                                        }
                                        else
                                        {
                                            <img class="lazyload" src="~/images/avatar-1.jpg" alt="Image" />
                                        }
                                    </a>
                                </div>
                                <div class="card-content text-center">
                                    <h4 class="card-title lc-1 mb-1">
                                        <a asp-controller="Teacher" asp-action="Info" asp-route-id="@course.lessonCourse.FTeacherId" target="_self" title="Link">
                                            @course.teacher.FTeacherName
                                        </a>
                                    </h4>
                                    <p class="card-text color-primary font-sm">
                                        @course.subjectName
                                    </p>
                                    <div class="social-link justify-content-center">
                                        <a href="https://www.instagram.com/" target="_blank" title="instagram"><i class="fab fa-instagram"></i></a>
                                        <a href="https://www.dribbble.com/" target="_blank" title="dribbble"><i class="fab fa-dribbble"></i></a>
                                        <a href="https://www.twitter.com/" target="_blank" title="twitter"><i class="fab fa-twitter"></i></a>
                                        <a href="https://www.youtube.com/" target="_blank" title="youtube"><i class="fab fa-youtube"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- Shapes -->
    <div class="shape">
        <img class="shape-1 lazyload" src="/images/placeholder.png" data-src="/images/shape/shape-1.png" alt="Shape">
        <img class="shape-2 lazyload" src="/images/placeholder.png" data-src="/images/shape/shape-3.png" alt="Shape">
        <img class="shape-3 lazyload" src="/images/placeholder.png" data-src="/images/shape/shape-4.png" alt="Shape">
    </div>
</section>
<!-- Mentor-area end -->

<!-- Newsletter-area start -->
<section class="newsletter-area newsletter-area_v1 mt-50">
    <div class="container">
        <div class="newsletter-inner ptb-60 px-3 px-lg-5 radius-lg bg-img bg-cover" data-bg-image="/images/Clement/NewLetter.jpg" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-6">
                    <div class="content-title">
                        <h2 class="title mb-30" style="color: antiquewhite">
                            時刻留意最新消息
                        </h2>
                        <div class="newsletter-form">
                            <form id="newsletterForm">
                                <div class="input-inline bg-white rounded-pill">
                                    <input class="form-control border-0" placeholder="輸入您的email" type="text" name="EMAIL" required="">
                                    <button class="btn btn-lg btn-primary rounded-pill" type="button" aria-label="button">訂閱</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Newsletter-area end -->


