@model TMember
@{
    ViewData["Title"] = "Login";
}
@section Styles {
    <style>
    
        .demoDirect {
            color: white;
            background-color: white;
            .btn {
            color: white;
            background-color: white
        }

        h6 {
            color: white
        }
        }

        .demoDirect:hover {
            .btn {
            background-color: lightgrey
        }
       .btn:hover{
            background-color: #30C2EC
       }

        .btn:active {
            background-color: black
        }
        h6 {
            color: lightgrey
        }
        }
    </style>
}
<partial name="_SweetAlertPartial" />
<!-- Breadcrumb start -->
<div class="breadcrumb-area bg-img bg-cover" data-bg-image="/images/owenadd/來學樂登入banner.png">
        <div class="container">
            <div class="content text-center">
               @*  <h2>登入</h2> *@
            </div>
        </div>
    </div>
    <!-- Breadcrumb end -->

    <!-- Authentication Start -->
    <div class="authentication-area ">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-around">
                <div class="d-flex flex-column  justify-content-start gap-2  pt-5" style="width:15%">
                    <div class="d-flex flex-column demoDirect  gap-3 ">
                        <h6>Demo註冊</h6>
                        @* <button onclick="demoRepeatSignUp()" class="btn btn-sm rounded-pill">重複註冊</button> *@
                        <button onclick="demoIncorrectInput()" class="btn btn-sm rounded-pill">input 有誤</button>
                        <button onclick="demoCorrectInput()" class="btn btn-sm rounded-pill">input 正確</button>
                        <a href="https://outlook.live.com/mail/0/" target="_blank" class="btn btn-sm rounded-pill">Outlook信箱</a>
                        @* <a href="https://jwt.io/" target="_blank" class="btn btn-sm rounded-pill">jwt.io 解碼查看</a> *@
                    </div>
                    <div class="d-flex flex-column demoDirect  gap-3 ">
                        <h6>Demo超連結</h6>
                        <a href="@Url.Action("List", "AdminMember")" target="_blank" class="btn btn-sm  rounded-pill">管理員：會員</a>
                        <a href="@Url.Action("ApplyList", "AdminTeacher")" target="_blank" class="btn btn-sm rounded-pill">管理員：老師審核</a>
                        <a href="@Url.Action("CheckList", "AdminTeacher")" target="_blank" class="btn btn-sm rounded-pill">管理員：老師清單</a>
                        <a href="@Url.Action("Pushmsglist", "message")" target="_blank" class="btn btn-sm rounded-pill">管理員：推播</a>
                    </div>
                        </div>
                <div class="main-form mx-5">
                    <div class="loginTogle mt-50 mb-15" style="display:block">
                        <div id="result"></div>
                        <div class=" d-flex justify-content-between flex-wrap gap-2 " >
                            <div class="  d-flex align-items-center ">
                                <h3 class="title" data-splitting="" data-aos="">登入</h3>
                            </div>
                            <div class="link font-sm d-flex align-items-center">
                                還沒有帳號？ <span id="toggleToSignup" target="_self" title="立即註冊" class="color-primary" style="cursor: pointer">立即註冊加入</span>
                            </div>
                        </div>
                        <div title="*登入後至帳號設定連結" class="link font-sm d-flex align-items-center text-dark mt-3">
                            使用已連結帳號
                        </div>
                        <div class=" d-flex flex-wrap gap-2 mt-3 mb-4">

                            <div>
                                <a href="javascript:openPopupWindow()" >
                                    <img class="rounded-pill" src="/images/owenadd/line_logo.png" alt="LINE登入" border="0" style="  width: 45px; height: 45px;" />
                                </a>
                                <button type="submit" style="  width: 60px; height: 60px;">
                                    <img class="rounded-pill border border-secondary" src="/images/owenadd/Google_logo.png" alt="Google登入" border="0" />
                                </button>
                            </div>
                        </div>
                        <div class=" d-flex flex-wrap gap-2 mt-2">
                            <div class="link font-sm d-flex align-items-center  text-dark">
                                或使用信箱和密碼
                            </div>
                        </div>
                    </div>
                    <div class="signupTogle" style="display:none">
                        <div class=" d-flex justify-content-between flex-wrap gap-2 mt-50 mb-30">
                            <div class="  d-flex align-items-center ">
                                <h3 class="title" data-splitting="" data-aos="">註冊</h3>
                            </div>
                            <div class="link font-sm d-flex align-items-center" style="display:none">
                                已是學員→ <span id="toggleToLogin" target="_self" title="立即登入" class="color-primary" style="cursor: pointer">立即登入學習</span>
                            </div>
                        </div>
                 </div>
             
                    <form id="pageForm"  >
                            <div class="row">
                            <div class="signupTogle col-12" style="display:none">
                                <div class="form-group mb-20">
                                    <input asp-for="FRealName" class="pageFormText form-control" placeholder="真實姓名">
                                    <span >註冊後可設定顯示名稱</span>
                                    <br />
                                    <span asp-validation-for="FRealName" class="text-danger"></span>

                                </div>
                            </div>
                                <div class="col-12">
                                    <div class="form-group mb-20">
                                    
                                    <input asp-for="FEmail" class="pageFormText form-control" placeholder="電子信箱" value="">
                                    <span asp-validation-for="FEmail" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group mb-20">
                                        <div class="position-relative">
                                        <input asp-for="FPassword" type="password" class="pageFormText form-control" placeholder="密碼 至少8個英數字混合" value="">
                                            <span class="show-password-field">
                                            <i class="show-icon"></i>
                                            </span>
                                        </div>
                                    <span asp-validation-for="FPassword" class=" text-danger"></span>
                                    </div>
                                <div class="signupTogle col-12" style="display:none">
                                    <div class="form-group mb-20" >
                                        <div class="position-relative">
                                            <input id="confirmPW" type="password" class="pageFormText form-control" placeholder="確認密碼" value="">
                                            <span class="show-password-field">
                                                <i class="show-icon"></i>
                                            </span>
                                        </div>
                                        <span id="cPwMsg" class=" text-danger"></span>
                                    </div>
                                </div>
                                <div class="signupTogle col-12" style="display:none">
                                    <div class=" custom-checkbox mb-10 font-sm" >
                                        <input class="input-checkbox" type="checkbox" name="checkbox" id="checkbox3" checked>
                                        <label class="form-check-label" for="checkbox3"><span> 我想收到優惠活動通知</span></label>
                                    </div>
                                    <div class=" custom-checkbox mb-10 font-sm">
                                        <input class="input-checkbox" type="checkbox" name="checkbox" id="agreeCheckbox" >
                                        <label class="form-check-label" for="agreeCheckbox"><span> 我同意來學樂平台的<span class="color-primary" style="cursor: pointer"> 服務條款＆隱私政策</span></span></label>
                                    </div>
                                    <span id="cAgreeMsg" class=" text-danger"></span>
                                </div>
                            </div>

                            <div class="text-center mt-10">
                                <button typeof="submit" id="submitBtn" class="btn btn-lg btn-primary rounded-pill w-100" type="submit" aria-label="Login">登入</button>
                            </div>
                            <div class=" loginTogle" style="display:block">
                                <div class=" d-flex justify-content-between flex-wrap gap-2 mt-20" >
                                    <div class="link font-sm">
                                        <a href="error-404.html" title="Forgot Password">忘記密碼？</a>
                                    </div>
                                </div>
                            </div>

                    </div>
                        </form>

                    </div>
                <div class="d-flex flex-column  justify-content-start gap-2  pt-5" style="width:15%">
                    <div class="d-flex flex-column demoDirect  gap-3 ">
                        <h6>Demo角色登入</h6>
                        <button onclick="demoLogin('liuyijun@email.com')" class="btn  btn-sm rounded-pill">〈 學生 〉  小君</button>
                        <button onclick="demoLogin('wen2024113@outlook.com')" class="btn  btn-sm rounded-pill">〈 新學生 〉  小歐</button>
                        <button onclick="demoLogin('tinachen@email.com')" class="btn  btn-sm rounded-pill">〈 申請老師 〉  婷婷</button>
                        <button onclick="demoLogin('lindacheng@email.com')" class="btn  btn-sm rounded-pill">〈 老師 1 〉 大成老師</button>
                        <button onclick="demoLogin('handsomepeter@email.com')" class="btn  btn-sm rounded-pill">〈 老師 2 〉 彼得老師</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Authentication End -->

    @section Scripts{
    @{
        await Html.RenderPartialAsync("~/Views/Shared/_ValidationScriptsPartial.cshtml");
    }
    <script src="https://cdn.jsdelivr.net/npm/platform@1.3.6/platform.js"></script>
<script>
        function demoLogin(email){
            document.getElementById('FEmail').value = email
            document.getElementById('FPassword').value = "asd123456"
            setTimeout(() => { document.getElementById('submitBtn').click() }, 500)
            
        }
            const signupTogle = document.querySelectorAll(".signupTogle");
            const loginTogle = document.querySelectorAll(".loginTogle");
            const toggleToSignup = document.getElementById("toggleToSignup")
            const toggleToLogin = document.getElementById("toggleToLogin")
            const submitBtn = document.getElementById("submitBtn")

            //切換登入和註冊表單
            toggleToSignup.addEventListener("click", () => {
                ToSignup();
                clearForm()
            });

            toggleToLogin.addEventListener("click", () => {
                ToLogin();
                clearForm()
            });

            document.getElementById("pageForm").addEventListener('submit', handleFormSubmit);
            function handleFormSubmit(event) {
                event.preventDefault(); // 防止表單直接提交
                checkSubmitBtn();
            }


            function clearForm() {
                document.getElementById("pageForm").reset()
                var spanElements = document.querySelectorAll('span[data-valmsg-for]');

                // 清空每個元素的 innerHTML
                //本來裡面會放生成的錯誤訊息
                spanElements.forEach(function (spanElement) {
                    spanElement.innerHTML = '';
                });
            }

            function ToSignup() {
                document.getElementById('FPassword').placeholder = '密碼 至少8個字英數混合';
                signupTogle.forEach((element) => {
                    element.style.display = "block";
                });
                loginTogle.forEach((element) => {
                    element.style.display = "none";
                });
                submitBtn.innerHTML = "註冊"
            };

            function ToLogin() {
            document.getElementById('FPassword').placeholder = '密碼';
                signupTogle.forEach((element) => {
                    element.style.display = "none";
                });
                loginTogle.forEach((element) => {
                    element.style.display = "block";
                });
                submitBtn.innerHTML = "登入"
            };

            //判斷確認密碼是否一致
        document.getElementById('confirmPW').addEventListener('change', checkConfirmPW);
    function checkConfirmPW() {
        let pw = document.getElementById('FPassword').value;
            let e = document.getElementById('confirmPW').value
        if (e!== pw) {
            document.getElementById('cPwMsg').innerHTML = "密碼不一致";
        } else {
                document.getElementById('cPwMsg').innerHTML = "";
                }
    }

    //判斷是否按下同意
        document.getElementById('agreeCheckbox').addEventListener('change', checkAgree);
        function checkAgree(e) {
            if (e.target.checked == true) {
                document.getElementById('cAgreeMsg').innerHTML = "";
            } else {
                document.getElementById('cAgreeMsg').innerHTML = "請閱讀並同意服務條款＆隱私政策";
            }
        }
</script>
    <script type="text/javascript">
        let LineLoginUrl = "@Url.Action("GetLineLoginUrl", "Home")";
    </script>
    <script type="text/javascript">

        function openPopupWindow() {
            $("#result").html("");//清空顯示結果
            //另開popup window前，每次都取得新的LineLoginUrl(每次Url的state參數都不一樣)
            $.ajax({
                url: LineLoginUrl,
                method: "get",
                success: function (url) {
                    // window.open(url, "self");
                    location.href = url;
                }, error: function (xhr) {
                    console.log(xhr);
                }
            });
        }
    </script>
    <script>

        //判斷提交登入還是註冊
        function checkSubmitBtn() {
            if (submitBtn.innerHTML == "登入") {
                if (document.getElementById("FPassword").value === "") { return; }
                if (document.getElementById("FEmail").value === "") { return; }
                fetchLogin()
            } else if (submitBtn.innerHTML == "註冊") {
                if (document.getElementById("FPassword").value === "") { return; }
                if (document.getElementById("FEmail").value === "") { return; }
                if (document.getElementById("FRealName").value === "") { return; }
                const confirmPW = document.getElementById("confirmPW")
                if (confirmPW.value === "") { return; }
                let pw = document.getElementById('FPassword').value;
                if (confirmPW.value !== pw) {
                    document.getElementById('cPwMsg').innerHTML = "密碼不一致";
                    return;
                } else {
                    document.getElementById('cPwMsg').innerHTML = "";
                }

                const agreeCheckbox = document.getElementById("agreeCheckbox")
                if (agreeCheckbox.checked == false) {
                    document.getElementById('cAgreeMsg').innerHTML = "請閱讀並同意服務條款＆隱私政策";
                    return;
                }                
                fetchSignUp();

            }  
        }
               let toSavePlatformInfo = "";
               let toSaveGeoInfo1 = "";
                let toSaveGeoInfo2 = "";
                let toSaveIPInfo = "";
//提交登入
       async function fetchLogin(){
            Swal.fire({
                position: 'center',
                icon: 'info',
                title: '登入中',
                showConfirmButton: false,
                allowOutsideClick: false
            });
           const loginFormData = new FormData(document.querySelector('#pageForm'));
           const response = await fetch('@Url.Content("~/Home/Login")', {
                body: loginFormData,
                method:'POST'
           })
           if (response.ok) {
               // // 使用platform.js解析瀏覽器和OS系統資訊
               // //取得內容範例：Chrome 122.0.0.0 on Windows 10 64-bit
               // const userAgent = navigator.userAgent;
               // console.log(userAgent);
               // const platformInfo = platform.parse();
               // toSavePlatformInfo = platformInfo.description;
               // try {
               //     //等待方法執行完
               //     await Promise.all([
               //         fetchLocationInfo(),
               //         fetchIPInfo()
               //     ]);
               //     let toSentGeoInfo = "";
               //     if (toSaveGeoInfo1 === "") {
               //         toSentGeoInfo = toSaveGeoInfo2;
               //     } else {
               //         toSentGeoInfo = toSaveGeoInfo1;
               //     }
               //     (async () => {
               //         const response = await fetch(`@Url.Content("~/Member/SaveLoginLog")?ip=${toSaveIPInfo}&geoInfo=${toSentGeoInfo}&browerNOs=${toSavePlatformInfo}`, {
               //             method: 'POST'
               //         })

               //     })();
                   Swal.close();
                   location.href = '@Url.Content("~/Home/Index")'

               // } catch (err) {
               //      Swal.close();
               //     alert(err)
               // }
           } else {
            const errorMsg = await response.text();
             Swal.close();
            Swal.fire({
                    position: "center",
                    icon: "error",
                    title: errorMsg,
                    showConfirmButton: false,
                    timer: 1700
            }).then(()=>{
                   if (errorMsg === "信箱未驗證") {
                       const reSendEmail = document.getElementById("FEmail").value;
                       location.href = `@Url.Content("~/Home/VertifyEmail")?email=${reSendEmail}`;
                   }
               })
           }
        }

        //

        // 取得地理位置資訊
        async function fetchLocationInfo() {
            return new Promise((resolve, reject) => {
                if ('geolocation' in navigator) {
                    navigator.geolocation.getCurrentPosition(
                        successGeoCallback,
                        errorGeoCallback,
                        { enableHighAccuracy: true }
                    );
                } else {
                    reject('不支援 Geolocation API');
                }

                function successGeoCallback(position) {
                    const latitude = position.coords.latitude;
                    const longitude = position.coords.longitude;

                    // 網站資訊https://nominatim.org/release-docs/develop/api/Reverse/
                    const apiUrl = `https://nominatim.openstreetmap.org/reverse?format=json&lat=${latitude}&lon=${longitude}&zoom=12`;

                    fetch(apiUrl)
                        .then(response => response.json())
                        .then(data => {
                            console.log(data);
                            const address = data.address;
                            toSaveGeoInfo1 = `${address.country}/${address.city}/${address.suburb}`;
                            console.log(toSaveGeoInfo1);

                            // 在此處呼叫 resolve()
                            resolve();
                        })
                        .catch(error => {
                            console.error('錯誤：', error);
                            // 如果有錯誤，也應該在此處呼叫 resolve()
                            resolve();
                        });
                }


                function errorGeoCallback(error) {
                                // 获取位置信息失败
                                switch (error.code) {
                                    case error.PERMISSION_DENIED:
                                        console.log('使用者拒絕提供位置資訊');
                                        break;
                                    case error.POSITION_UNAVAILABLE:
                                        console.log('無法取得使用者位置');
                                        break;
                                    case error.TIMEOUT:
                                        console.log('取得位置逾時');
                                        break;
                                    case error.UNKNOWN_ERROR:
                                        console.log('發生未知錯誤');
                                        break;
                                }
                    resolve();
                }
            });
        }

        // 取得 IP 資訊
        async function fetchIPInfo() {
            return new Promise((resolve, reject) => {
                fetch('https://ipinfo.io/json')
                    .then(response => response.json())
                    .then(data => {
                        // 其他邏輯...
                        toSaveIPInfo = data.ip
                        toSaveGeoInfo2 = `${data.country}/${data.region}/${data.city}`
                        console.log(toSaveIPInfo)
                        console.log(toSaveGeoInfo2)
                        resolve();
                    })
                    .catch(error => {
                        console.error('取得 IP 錯誤', error);
                        reject(error);
                    });
            });
        }

//提交註冊
        async function fetchSignUp() {
            //等待fetch結果時顯示
            Swal.fire({
                position: 'center',
                icon: 'info',
                title: '註冊中...',
                showConfirmButton: false,
                allowOutsideClick: false
            });
            const signUpFormData = new FormData(document.querySelector('#pageForm'));
            const response = await fetch('@Url.Content("~/Member/SignUp")', {
                body: signUpFormData,
                method: 'POST'
            })
            if (response.ok) { 
                await fetchSendVertifyEmail();
            }else{
                const errorMsg = await response.text();
                Swal.close();
                //切換註冊到登入
                if (errorMsg == "此信箱已有人使用") {
                    const email = document.getElementById("FEmail").value;
                    ToLogin();
                    clearForm();
                    $('html,body').scrollTop(0);
                    document.getElementById("FEmail").value = email;
                    Swal.fire({
                        position: "center",
                        icon: "info",
                        title: "此信箱已註冊，請嘗試登入",
                        showConfirmButton: false,
                        timer: 1500
                    });
                   
                    return;
                }

                Swal.fire({
                    position: "center",
                    icon: "error",
                    title: errorMsg,
                    showConfirmButton: false,
                    timer: 1500
                });
            }
        }

        //寄送驗證信
        async function fetchSendVertifyEmail() {
         const email = document.getElementById("FEmail").value;
            const response = await fetch(`@Url.Content("~/Member/SendVetifyEmail")?email=${email}`, {
                method: 'POST'
            })
            Swal.close();
            if (response.ok) {
                Swal.fire({
                    position: "center",
                    icon: "success",
                    title: "註冊成功，請至信箱查看驗證信",
                    showConfirmButton: false,
                    timer: 1500
                }).then(() => { location.href = "@Url.Action("Index", "Home")"; })
            }else{
                const errorMsg = await response.text();
                Swal.fire({
                    position: "center",
                    icon: "error",
                    title: `註冊成功，但${errorMsg}`,
                    showConfirmButton: false,
                    timer: 1500
                });
            }
        }

    </script>
    <script>
        function demoRepeatSignUp() {
            document.getElementById('FRealName').value = "劉怡君"
            document.getElementById('FEmail').value = "liuyijun@email.com"
            document.getElementById('FPassword').value = "asd123456"
            document.getElementById('confirmPW').value = "asd123456"
        }
        function demoIncorrectInput() {
            document.getElementById('FRealName').value = ""
            document.getElementById('FEmail').value = "wen2024113outlook.com"
            document.getElementById('FPassword').value = "asd1234"
            document.getElementById('confirmPW').value = "asd123456"
            checkConfirmPW()
            document.getElementById('submitBtn').click()
        }
        function demoCorrectInput() {
            document.getElementById('FRealName').value = "歐文"
            document.getElementById('FEmail').value = "wen2024113@outlook.com"
            document.getElementById('FPassword').value = "asd123456"
            document.getElementById('confirmPW').value = "asd123456"
            document.getElementById('submitBtn').click()
        }
    </script>
    }
